<md-toolbar color="primary">
    <span>ng-mort</span>
    <span class="example-spacer"></span>
    <a md-button href="https://github.com/emmgfx/ng-mort" target="_blank"><md-icon>code</md-icon> view source</a>
</md-toolbar>

<md-card class="example-card">
    <md-card-content>
        <form (submit)="calculateFees()">
            
            <h2>Initial conditions</h2>
            
            <md-input-container class="">
                <input mdInput type="number" [(ngModel)]="originalRemainingMonths" name="originalRemainingMonths" #remainingMonthsInput max="480" min="0" placeholder="Remaining months" >
                <md-hint align="end">{{ originalRemainingMonths / 12 | number : '1.0-1'}} year/s</md-hint>
            </md-input-container>

            <md-input-container class="">
                <input mdInput type="number" [(ngModel)]="originalRemainingCapital" name="originalRemainingCapital" #remainingCapitalInput min="0" placeholder="Remaining capital">
            </md-input-container>

            <md-input-container class="">
                <input mdInput type="number" [(ngModel)]="tae" name="tae" #taeInput max="100" min="0.01" placeholder="TAE" required>
            </md-input-container>

            <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="Start date" [(ngModel)]="startDate" name="startDate">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker  [startAt]="startDate" startView="year"></md-datepicker>
            
            
            <h2>
                Voluntary periodic amortization
                <md-slide-toggle
                    name="vpa"
                    [(ngModel)]="vpa"
                    class="example-margin"
                    [color]="accent"
                    [checked]="false"
                    [disabled]="false">
                </md-slide-toggle>
            </h2>
            
            <ng-container *ngIf="vpa">
                <md-input-container class="">
                    <input mdInput type="number" [(ngModel)]="amortizationAmount" name="amortizationAmount" #amortizationAmountInput max="{{ originalRemainingCapital }}" min="0" placeholder="Amortization amount" >
                </md-input-container>
                
                <md-input-container class="">
                    <input mdInput type="number" [(ngModel)]="amortizationFrecuency" name="amortizationFrecuency" #amortizationFrecuencyInput max="480" placeholder="Amortization frecuency" >
                    <md-hint align="end">({{ amortizationAmount }} each {{ amortizationFrecuency }} months)</md-hint>
                </md-input-container>
            </ng-container>
            
            <div>
                <button md-raised-button>Run</button>
            </div>
        </form>
    </md-card-content>
</md-card>

<div class="app-content">
    <md-card class="example-card" *ngIf="fees.length > 0">
        <md-card-header>
            <md-card-title>Amortization table</md-card-title>
        </md-card-header>
        <md-card-content>
            <table cellpadding="10" width="100%">
                <thead align="left">
                    <tr>
                        <th>Date</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Fee</th>
                        <th>Amortization</th>
                        <th>Interests</th>
                        <th>Interests sumatory</th>
                        <th>Pending</th>
                    </tr>
                </thead>
                <tbody align="left">
                    <ng-container *ngFor="let fee of fees">
                        <tr *ngIf="fee.type == 'mandatory'">
                            <td>{{ fee.date | amDateFormat:'LL' }}</td>
                            <td>{{ fee.month }} of {{ fee.originalRemainingMonths }}</td>
                            <td>{{ fee.year }} of {{ fee.originalRemainingMonths/12 | number : '1.0-0' }}</td>
                            <td><strong>{{ fee.fee | number: '1.2-2' }} &euro;</strong></td>
                            <td>{{ fee.amortization | number: '1.2-2' }} &euro;</td>
                            <td>{{ fee.interests }} &euro;</td>
                            <td>{{ fee.interestsTotal | number: '1.2-2' }} &euro;</td>
                            <td><strong>{{ fee.pendingCapital | number: '1.2-2' }} &euro;</strong></td>
                        </tr>
                        <tr *ngIf="fee.type == 'voluntary'" style="background-color: lightgreen;">
                            <td>{{ fee.date | amDateFormat:'LL' }}</td>
                            <td>{{ fee.month }} of {{ fee.originalRemainingMonths }}</td>
                            <td>{{ fee.year }} of {{ fee.originalRemainingMonths/12 | number : '1.0-0' }}</td>
                            <td colspan="5">
                                <strong>
                                    Voluntary amortization of {{ fee.amortization | number: '1.2-2' }} &euro;
                                    {{ fee.pendingCapital | number: '1.2-2' }} &euro; pending
                                </strong>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>     
        </md-card-content>
    </md-card>

</div>
